In [2]:
from os import listdir
from os.path import isfile, join
import pandas as pd

In [3]:
merged_path = '/home/paperspace/data/materialist/valid'

In [4]:
valid_files = listdir(merged_path)

In [5]:
files = pd.DataFrame(valid_files, columns=['id'])

In [6]:
files

                id
0     4401_104.jpg
1     1894_128.jpg
2       286_89.jpg
3     6221_126.jpg
4      1018_49.jpg
5      3765_48.jpg
6     4343_100.jpg
7       297_11.jpg
8      4094_47.jpg
9      2409_19.jpg
10     5006_50.jpg
11     5493_70.jpg
12      599_89.jpg
13      228_18.jpg
14    5246_102.jpg
15     5406_24.jpg
16    5963_125.jpg
17     5576_83.jpg
18     250_118.jpg
19     1656_18.jpg
20     2510_20.jpg
21    4736_126.jpg
22      1507_7.jpg
23    2183_105.jpg
24      773_17.jpg
25      1499_5.jpg
26     2430_44.jpg
27     2298_13.jpg
28     4216_38.jpg
29     5692_78.jpg
...            ...
6284   4889_58.jpg
6285   4700_74.jpg
6286  1539_113.jpg
6287   3491_42.jpg
6288   3690_32.jpg
6289  3547_102.jpg
6290  5663_116.jpg
6291    155_53.jpg
6292   785_124.jpg
6293    5665_1.jpg
6294   3475_16.jpg
6295   3865_86.jpg
6296   3406_41.jpg
6297   2307_57.jpg
6298   5332_38.jpg
6299   2038_56.jpg
6300    1153_8.jpg
6301   927_108.jpg
6302   2994_23.jpg
6303  4867_104.jpg
6304   4245_41.jpg
6305  3486_126.jpg
6306   1064_62.jpg
6307  4368_104.jpg
6308   2949_38.jpg
6309   5203_63.jpg
6310    787_26.jpg
6311   4370_16.jpg
6312   6344_43.jpg
6313   1041_63.jpg

[6314 rows x 1 columns]

In [7]:
def get_id(row):
    row = row['id']
    underscore_index = row.find('_') + 1
    period_index = row.find('.')
    value = row[underscore_index: period_index]
    return row[underscore_index: period_index]

In [8]:
files['value'] = files.apply(lambda row: get_id(row), axis=1)

In [9]:
files

                id value
0     4401_104.jpg   104
1     1894_128.jpg   128
2       286_89.jpg    89
3     6221_126.jpg   126
4      1018_49.jpg    49
5      3765_48.jpg    48
6     4343_100.jpg   100
7       297_11.jpg    11
8      4094_47.jpg    47
9      2409_19.jpg    19
10     5006_50.jpg    50
11     5493_70.jpg    70
12      599_89.jpg    89
13      228_18.jpg    18
14    5246_102.jpg   102
15     5406_24.jpg    24
16    5963_125.jpg   125
17     5576_83.jpg    83
18     250_118.jpg   118
19     1656_18.jpg    18
20     2510_20.jpg    20
21    4736_126.jpg   126
22      1507_7.jpg     7
23    2183_105.jpg   105
24      773_17.jpg    17
25      1499_5.jpg     5
26     2430_44.jpg    44
27     2298_13.jpg    13
28     4216_38.jpg    38
29     5692_78.jpg    78
...            ...   ...
6284   4889_58.jpg    58
6285   4700_74.jpg    74
6286  1539_113.jpg   113
6287   3491_42.jpg    42
6288   3690_32.jpg    32
6289  3547_102.jpg   102
6290  5663_116.jpg   116
6291    155_53.jpg    53
6292   785_124.jpg   124
6293    5665_1.jpg     1
6294   3475_16.jpg    16
6295   3865_86.jpg    86
6296   3406_41.jpg    41
6297   2307_57.jpg    57
6298   5332_38.jpg    38
6299   2038_56.jpg    56
6300    1153_8.jpg     8
6301   927_108.jpg   108
6302   2994_23.jpg    23
6303  4867_104.jpg   104
6304   4245_41.jpg    41
6305  3486_126.jpg   126
6306   1064_62.jpg    62
6307  4368_104.jpg   104
6308   2949_38.jpg    38
6309   5203_63.jpg    63
6310    787_26.jpg    26
6311   4370_16.jpg    16
6312   6344_43.jpg    43
6313   1041_63.jpg    63

[6314 rows x 2 columns]

In [10]:
files.to_csv('/home/paperspace/data/materialist/labels_valid.csv', index=False)

In [11]:
df.head()

NameError: name 'df' is not defined

In [23]:
df.loc[df['id'] == '144549_108.jpg']

                    id value
142013  144549_108.jpg   108

In [11]:
files.shape

(188187, 2)

In [3]:
old_df = pd.read_csv('/home/paperspace/data/materialist/labels_2.csv')

In [5]:
old_df['value']

0          27
1          13
2          20
3         125
4          39
5          10
6          51
7         122
8         124
9          92
10        111
11         79
12        112
13        118
14         37
15         65
16        128
17         79
18         22
19          7
20         26
21        104
22         81
23         11
24         46
25         90
26         76
27         15
28         89
29         10
         ...
188157      3
188158      7
188159    104
188160     92
188161     17
188162     18
188163     68
188164     75
188165     24
188166    116
188167     12
188168     56
188169     98
188170    125
188171    116
188172    125
188173     42
188174    102
188175     75
188176     55
188177     23
188178     10
188179    106
188180     18
188181     27
188182     42
188183     64
188184     10
188185     18
188186     46
Name: value, Length: 188187, dtype: int64

In [7]:
old_df[old_df['value'].str.contains(" ")]

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas